// General
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    color: #333;
}
img.img-resp{
    width: 100%;
}
ul li{
    list-style: none;
}

// Main classes
.discount-percent{
    border-radius: 5px;
    padding: 3px;
    font-size: 15px;
}
.img-order{
    max-width: 200px;
}
.img-gallery{
    width: calc(25% - 16px);
    cursor: pointer;
    border: 3px solid #d6d6d6;
    margin: 5px;
}
.img-products{
    max-width: 100px;
}
// Main classes end


// products
.product{
    display: block;
    padding: 5px 5px 15px;
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
    color: #333;
    border-radius: 5px;
    position: relative;
}
.product.product-small{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.product.product-common{
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.12);
    width: 100%;
}
.product:hover{
    text-decoration: none;
    color: #4390BC;
}
.product .discounted{
    display: block;
    position: absolute;
    left: -35px;
    top: 28px;
    transform: rotate(-45deg);
    width: 150px;
    background-color: #4390BC;
    font-size: 16px;
    color: #fff;
}
// products end


// Comments
.comment-image{
    width: 20%;
}
.comment-text{
    width: 80%;
}
// Comments end


// Pagination
/* pagination */
.pager{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}
.pager li{
    padding: 10px;
}
// Pagination end


// Container padding for special sections
section#order .container,
section#searched-products .container,
section#user-profile .container,
section#add-product .container,
section#similar .container,
section#user-login .container,
section#cart .container,
section#comments .container,
section#details .container,
section#top-products .container,
section#all-products .container{
    padding: 50px 0;
}


// Slider (Carousel)
section#slider .carousel-caption{
    background-color: rgba(51, 51, 51, 0.582);
    bottom: 0;
    left: 0;
    right: 0;
}
section#slider .carousel-indicators{
    margin-bottom: 7px;
}
// Slider end


// Details
section#details .details-image{
    width: 100%;
}
section#details .details-info{
    padding: 50px;
}
// Details end


// Comments
section#comments .comment-image{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
}
section#comments .comment-image img{
    height: 100%;
}
section#comments .media-comment{
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
    width: fit-content;
}
section#comments .media-comment.media-comment-other{
    border: 1px solid #d6d6d67e;
    margin-right: auto;
}
section#comments .media-comment.media-comment-me{
    border: 1px solid #4390bc86;
    margin-left: auto;
}
section#comments .media-response{
    border-top: 3px solid #d6d6d67e;
    padding: 10px;
}
section#comments .comment-date{
    color: #707070;
    font-size: 12px;
}
section#comments .btn-load-comments{
    display: none;
}
// Comments end


// Cart
section#cart .cart-image{
    width: 100px;
}
section#cart .cart-descr{
    width: 200px;
    max-height: 100px;
    overflow: hidden;
}
// Cart end


// BreakPoints
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    // Sections
    #similar .product .discounted,
    #top-products .product .discounted{
        left: -55px;
        top: 14px;
        font-size: 8px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    // Sections
    #similar .product .discounted,
    #top-products .product .discounted{
        left: -44px;
        top: 20px;
        font-size: 12px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    // Sections
    #similar .product .discounted,
    #top-products .product .discounted{
        left: -35px;
        top: 28px;
        font-size: 16px;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}

@media (min-width: 1921px) {
    // Main classes
    .container{
        max-width: 1140px;
    }
    .container-fluid{
        max-width: 1920px;
    }
}